
/*for some reason the font isn't applying*/
.title {
  font-family: "Roboto-Slab", serif;
  font-size: 5em;
  color: black;

  margin: 50px auto 0 auto;
  text-align: center;
}

.graph {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  left: -50px;
}


.legendTitle {
  margin-left: 20px;
  /*padding-bottom: 40px;*/
  /*padding-left: 50px;*/
  position: relative;
  top: -60px;

  font-size: 1.3em;
  font-weight: 600;
}

.legendTextHolder {
  margin-top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: left;
}

.legendText {
  position: relative;
  left: 15px;
  width: 100px;
  /*padding-right: 25px;*/
  font-size: 1em;
  font-weight: 400;
}

.hoverInfo {
  position: relative;
  top: -550px;
  left: 870px;

  min-width: 300px;
  max-width: 500px;
  background: white;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px;
}

.stateNameDiv {
  display: flex;
  flex-direction: row;
}
.stateNameDiv > * {
  /*border-bottom: 1px solid black;*/
  margin-right: 10px;
  font-size: 2em;
  font-weight: 600;
}
.hovered {
  fill: #ffc107;
}
